################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Assembly.RecipeApp/v17/.suo
/.vs/Assembly.RecipeApp/FileContentIndex
/.vs/Assembly.RecipeApp/DesignTimeBuild/.dtbcache.v2
