################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Assembly.RecipeApp/v17/.suo
/.vs/Assembly.RecipeApp/FileContentIndex
/.vs/Assembly.RecipeApp/DesignTimeBuild/.dtbcache.v2
/Assembly.RecipeApp.Application/obj/Assembly.RecipeApp.Application.csproj.nuget.dgspec.json
/Assembly.RecipeApp.Application/obj/Assembly.RecipeApp.Application.csproj.nuget.g.props
/Assembly.RecipeApp.Application/obj/Debug/net8.0/Assembly.RecipeApp.Application.AssemblyInfo.cs
/Assembly.RecipeApp.Application/obj/Debug/net8.0/Assembly.RecipeApp.Application.assets.cache
/Assembly.RecipeApp.Application/obj/Debug/net8.0/Assembly.RecipeApp.Application.csproj.AssemblyReference.cache
/Assembly.RecipeApp.Application/obj/Debug/net8.0/Assembly.RecipeApp.Application.GeneratedMSBuildEditorConfig.editorconfig
/Assembly.RecipeApp.Application/obj/project.assets.json
/Assembly.RecipeApp.Application/obj/project.nuget.cache
/Assembly.RecipeApp.ConsoleApp/obj/Assembly.RecipeApp.ConsoleApp.csproj.nuget.dgspec.json
/Assembly.RecipeApp.ConsoleApp/obj/Assembly.RecipeApp.ConsoleApp.csproj.nuget.g.props
/Assembly.RecipeApp.ConsoleApp/obj/Debug/net8.0/Assembly.RecipeApp.ConsoleApp.AssemblyInfo.cs
/Assembly.RecipeApp.ConsoleApp/obj/Debug/net8.0/Assembly.RecipeApp.ConsoleApp.AssemblyInfoInputs.cache
/Assembly.RecipeApp.ConsoleApp/obj/Debug/net8.0/Assembly.RecipeApp.ConsoleApp.assets.cache
/Assembly.RecipeApp.ConsoleApp/obj/Debug/net8.0/Assembly.RecipeApp.ConsoleApp.csproj.AssemblyReference.cache
/Assembly.RecipeApp.ConsoleApp/obj/Debug/net8.0/Assembly.RecipeApp.ConsoleApp.GeneratedMSBuildEditorConfig.editorconfig
/Assembly.RecipeApp.ConsoleApp/obj/project.assets.json
/.gitignore
/Assembly.RecipeApp.ConsoleApp/obj/project.nuget.cache
/Assembly.RecipeApp.Domain/obj/Assembly.RecipeApp.Domain.csproj.nuget.dgspec.json
/Assembly.RecipeApp.Domain/obj/Assembly.RecipeApp.Domain.csproj.nuget.g.props
/Assembly.RecipeApp.Domain/obj/Debug/net8.0/Assembly.RecipeApp.Domain.AssemblyInfo.cs
/Assembly.RecipeApp.Domain/obj/Debug/net8.0/Assembly.RecipeApp.Domain.AssemblyInfoInputs.cache
/Assembly.RecipeApp.Domain/obj/Debug/net8.0/Assembly.RecipeApp.Domain.assets.cache
/Assembly.RecipeApp.Domain/obj/Debug/net8.0/Assembly.RecipeApp.Domain.GeneratedMSBuildEditorConfig.editorconfig
/Assembly.RecipeApp.Domain/obj/project.assets.json
/Assembly.RecipeApp.Domain/obj/project.nuget.cache
/Assembly.RecipeApp.Repository/obj/Assembly.RecipeApp.Repository.csproj.nuget.dgspec.json
/Assembly.RecipeApp.Repository/obj/Assembly.RecipeApp.Repository.csproj.nuget.g.props
/Assembly.RecipeApp.Repository/obj/Debug/net8.0/Assembly.RecipeApp.Repository.AssemblyInfo.cs
/Assembly.RecipeApp.Repository/obj/Debug/net8.0/Assembly.RecipeApp.Repository.AssemblyInfoInputs.cache
/Assembly.RecipeApp.Repository/obj/Debug/net8.0/Assembly.RecipeApp.Repository.assets.cache
/Assembly.RecipeApp.Repository/obj/Debug/net8.0/Assembly.RecipeApp.Repository.csproj.AssemblyReference.cache
/Assembly.RecipeApp.Repository/obj/Debug/net8.0/Assembly.RecipeApp.Repository.GeneratedMSBuildEditorConfig.editorconfig
/Assembly.RecipeApp.Repository/obj/project.assets.json
/Assembly.RecipeApp.Repository/obj/project.nuget.cache
/.gitignore
/Assembly.RecipeApp.Application/obj/Debug/net8.0/Assembly.RecipeApp.Application.AssemblyInfoInputs.cache
/Assembly.RecipeApp.Application/Interfaces/IUnitService.cs
/Assembly.RecipeApp.Application/Services/IngredientServices.cs
/Assembly.RecipeApp.Application/Services/RecipeServices.cs
/Assembly.RecipeApp.ConsoleApp/Assembly.RecipeApp.ConsoleApp.csproj
/Assembly.RecipeApp.Domain/Model/Ingredient.cs
/Assembly.RecipeApp.Domain/Model/Rating.cs
/Assembly.RecipeApp.Domain/Model/Recipe.cs
/Assembly.RecipeApp.Domain/Model/Unit.cs
/Assembly.RecipeApp.Domain/Model/User.cs
/Assembly.RecipeApp.Repository/Repos/ConnectionStringProvider.cs
/.gitignore
